<!-- <h1>{{hello}}</h1>

<button (click)="print()" >click</button>
<img [src]="sotheimg" alt=""    class="Btn Btn-danger" > -->
<!-- 
<div class="cont" >
    <h1>{{h1}}</h1>
    <h3>{{h3}}</h3>
    <p>{{p}}</p>
    <button (click)="showtexts()" class="showsmore" >Show</button>
</div>


<div class="cont1" >
    <h1>{{h11}}</h1>
    <h3>{{h33}}</h3>
    <p>{{pp}}</p>
</div> -->


<header>

    <app-header></app-header>

</header>



<main>
    <app-main></app-main>
</main>



<footer>

    <app-footer></app-footer>

</footer>