<input type="text" [(ngModel)]="title">
<button (click)="save()" >Save</button>
<button (click)="del()" >DELETE</button>

<h1 *ngIf="showeror" >fill the input</h1>













<button (click)="showHidelist()">show list</button>





<ol *ngIf="showlist">
    <li *ngFor="let el of array let index=index"> {{el}}
         <button (click)="delete(index)" >DEL</button> 
    </li>
</ol>








<input [(ngModel)]="hello" placeholder="name" type="text">
<input [(ngModel)]="gooodbyye" placeholder="surname" type="text">
